/* ..........font links start........... */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* ..........font links end........... */

/* ..........common css start........... */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
/* ..........common css end........... */

/* ..........variable start........... */
:root {
  --BrandColor: #42454a;
  --BrandFont: "Ubuntu", sans-serif;
}
/* ..........variable end..........

/* ..........navbar start........... */
.main_nav {
  padding: 26px 0;
  border: 1px solid #eae8f3;
}
.main_nav .logo_img {
  width: 70px;
}
.main_nav .nav_menus ul {
  gap: 78px;
}
.main_nav .nav_menus ul li a {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
}
.nav_options {
  padding-bottom: 9px;
}
.nav_menus .menu_buttons {
  display: flex;
  gap: 24px;
}
.nav_menus .menu_buttons .sign_in {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
  width: 102px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--BrandColor);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.nav_menus .menu_buttons .sign_in:hover {
  box-shadow: -3px 9px 16px 1px rgba(66, 69, 74, 0.75);
  color: var(--BrandColor);
  background-color: #ffffff;
}
.nav_menus .menu_buttons .sign_up {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
  width: 106px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--BrandColor);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.nav_menus .menu_buttons .sign_up:hover {
  box-shadow: -3px 9px 16px 1px rgba(66, 69, 74, 0.75);
  color: var(--BrandColor);
  background-color: #ffffff;
}
/* ..........navbar end........... */

/* ..........banner start........... */
#banner {
  padding-top: 84px;
  position: relative;
}
.banner_div h1 {
  width: 570px;
  font-size: 90px;
  font-weight: 300;
  font-family: var(--BrandFont);
  text-transform: uppercase;
}
.banner_div h1 span {
  font-size: 90px;
  font-weight: 700;
  font-family: var(--BrandFont);
}
.borderBar {
  margin-top: 93px;
  margin-bottom: 62px;
  width: 335px;
  height: 4px;
  background-color: var(--BrandColor);
}
.banner_div p {
  width: 353px;
  font-size: 22px;
  font-weight: 400;
  font-family: var(--BrandFont);
}
.banner_bottom_side {
  display: flex;
  gap: 79px;
  margin-top: 62px;
  align-items: center;
  margin-bottom: 209px;
}
/* From Uiverse.io by Creatlydev */
.button {
  width: 162px;
  height: 58px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: #c6c7c9;
  transform: translateX(-105%);
  transition: transform 0.3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  font-size: 25px;
  width: 58px;
  height: 58px;
  color: #f7eae3;
  background-color: #c6c7c9;
  display: grid;
  place-items: center;
}

.button__text {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--BrandFont);
  color: #17181a;
  display: inline-block;
  transition: color 0.2s;
  /* padding: 2px 1.5rem 2px; */
  /* padding-left: 0.75rem; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button-decor {
  transform: translate(0);
}

.banner_bottom_side .watch_videos {
  display: flex;
  gap: 21px;
  align-items: center;
  width: 188px;
  position: relative;
}
.banner_bottom_side .watch_videos .left {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--BrandFont);
  width: 87px;
  color: #414449;
}
.banner_bottom_side .watch_videos .right {
  width: 80px;
  animation: rotate infinite linear 4s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.watch_videos .play_mid_button {
  width: 15px;
  position: absolute;
  right: 32px;
  top: 27px;
  z-index: 10;
}
.banner_image {
  width: 856px;
  position: absolute;
  top: 0;
  right: 0;
}
/* ..........banner end........... */

/* ..............counter part end..........   */
#counter {
  padding-bottom: 127px;
}
.counter_single_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 174px;
  border-radius: 7px;
  padding: 30px 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.counter_single_box h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.counter_single_box h3 span {
  font-size: 40px;
  margin-right: 12px;
}
.counter_single_box p {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}

.counter_single_box .last_two span {
  margin-right: 0;
}
.last_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 174px;
  border-radius: 7px;
  padding: 30px 26px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.last_box h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.last_box h3 span {
  font-size: 40px;
  margin-right: 12px;
}
.last_box p {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}

.last_box .last_two span {
  margin-right: 0;
}
/* ..............counter part end..........   */
/* ...............Product_Information start.....  */
#Product_Information {
}

.head {
  text-align: center;
}
.head h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--BrandFont);
  margin-bottom: 34px;
}
.head p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  margin-bottom: 32px;
}

.right_side {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.discription {
  display: flex;
  gap: 18px;
}
.discription .tik {
  width: 49px;
}
.discription .points {
  font-size: 20;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
/* ...............Product_Information end.....  */

/* ..........Efficiency start........... */
.Efficiency_head {
  text-align: center;
}
.Efficiency_head h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--BrandFont);
  margin-bottom: 34px;
}
.Efficiency_head p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  margin-bottom: 32px;
}
.Efficiency_pic {
  width: 1335px;
  margin-bottom: 155px;
}
/* ..........Efficiency end........... */
/* ..........font links start........... */
/* ..........font links end........... */
/* ..........font links start........... */
/* ..........font links end........... */
/* ..........font links start........... */
/* ..........font links end........... */
