/* ..........font links start........... */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* ..........font links end........... */

/* ..........common css start........... */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
/* ..........common css end........... */

/* ..........variable start........... */
:root {
  --BrandColor: #42454a;
  --BrandFont: "Ubuntu", sans-serif;
}
/* ..........variable end..........

/* ..........navbar start........... */
.main_nav {
  padding: 26px 0;
  border: 1px solid #eae8f3;
}
.main_nav .logo_img {
  width: 70px;
}
.main_nav .nav_menus ul {
  gap: 78px;
}
.main_nav .nav_menus ul li a {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
}
.nav_options {
  padding-bottom: 9px;
}
.nav_menus .menu_buttons {
  display: flex;
  gap: 24px;
}
.nav_menus .menu_buttons .sign_in {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
  width: 102px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--BrandColor);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.nav_menus .menu_buttons .sign_in:hover {
  box-shadow: -3px 9px 16px 1px rgba(66, 69, 74, 0.75);
  color: var(--BrandColor);
  background-color: #ffffff;
}
.nav_menus .menu_buttons .sign_up {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
  width: 106px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--BrandColor);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.nav_menus .menu_buttons .sign_up:hover {
  box-shadow: -3px 9px 16px 1px rgba(66, 69, 74, 0.75);
  color: var(--BrandColor);
  background-color: #ffffff;
}
/* ..........navbar end........... */

/* ..........banner start........... */
#banner {
  padding-top: 84px;
  position: relative;
}
.banner_div h1 {
  width: 570px;
  font-size: 90px;
  font-weight: 300;
  font-family: var(--BrandFont);
  text-transform: uppercase;
}
.banner_div h1 span {
  font-size: 90px;
  font-weight: 700;
  font-family: var(--BrandFont);
}
.borderBar {
  margin-top: 93px;
  margin-bottom: 62px;
  width: 335px;
  height: 4px;
  background-color: var(--BrandColor);
}
.banner_div p {
  width: 353px;
  font-size: 22px;
  font-weight: 400;
  font-family: var(--BrandFont);
}
.banner_bottom_side {
  display: flex;
  gap: 79px;
  margin-top: 62px;
  align-items: center;
  margin-bottom: 209px;
}
/* From Uiverse.io by Creatlydev */
.button {
  width: 162px;
  height: 58px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: #c6c7c9;
  transform: translateX(-105%);
  transition: transform 0.3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  font-size: 25px;
  width: 58px;
  height: 58px;
  color: #f7eae3;
  background-color: #c6c7c9;
  display: grid;
  place-items: center;
}

.button__text {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--BrandFont);
  color: #17181a;
  display: inline-block;
  transition: color 0.2s;
  /* padding: 2px 1.5rem 2px; */
  /* padding-left: 0.75rem; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button-decor {
  transform: translate(0);
}

.banner_bottom_side .watch_videos {
  display: flex;
  gap: 21px;
  align-items: center;
  width: 188px;
  position: relative;
}
.banner_bottom_side .watch_videos .left {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--BrandFont);
  width: 87px;
  color: #414449;
}
.banner_bottom_side .watch_videos .right {
  width: 80px;
  animation: rotate infinite linear 4s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.watch_videos .play_mid_button {
  width: 15px;
  position: absolute;
  right: 32px;
  top: 27px;
  z-index: 10;
}
.banner_image {
  width: 856px;
  position: absolute;
  top: 0;
  right: 0;
}
/* ..........banner end........... */

/* ..............counter part end..........   */
#counter {
  padding-bottom: 127px;
}
.counter_single_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 174px;
  border-radius: 7px;
  padding: 30px 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.counter_single_box h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.counter_single_box h3 span {
  font-size: 40px;
  margin-right: 12px;
}
.counter_single_box p {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}

.counter_single_box .last_two span {
  margin-right: 0;
}
.last_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 174px;
  border-radius: 7px;
  padding: 30px 26px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.last_box h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.last_box h3 span {
  font-size: 40px;
  margin-right: 12px;
}
.last_box p {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}

.last_box .last_two span {
  margin-right: 0;
}
/* ..............counter part end..........   */
/* ...............Product_Information start.....  */

.common_head {
  text-align: center;
}
.common_head h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--BrandFont);
  margin-bottom: 34px;
}
.common_head p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  margin-bottom: 32px;
}

.right_side {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.discription {
  display: flex;
  gap: 18px;
}
.discription .tik {
  width: 49px;
}
.discription .points {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
/* ...............Product_Information end.....  */

/* ..........Efficiency start........... */
.common_head {
  text-align: center;
}
/* .common_head h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--BrandFont);
  margin-bottom: 34px;
} */
/* .common_head p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  margin-bottom: 32px;
} */
.Efficiency_pic {
  width: 1335px;
  margin-bottom: 155px;
}
/* ..........Efficiency end........... */
/* ..........Accessories start........... */
.Golf_bag_div .Golf_bag_head {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
  margin-top: 160px;
  margin-bottom: 33px;
}
.Golf_bag_details_div {
  display: flex;
  flex-direction: column;

  gap: 33px;
}
.Golf_bag_details {
  display: flex;
  gap: 18px;
}
.Golf_bag_details .tik {
  width: 49px;
}
.Golf_bag_details .points {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  padding-top: 14px;
}
.accessoriesImages {
  margin-top: 150px;
  display: flex;
}

/* ..........Accessories end........... */
/* ..........Shopping_Rack start........... */
#Shopping_Rack {
  position: relative;
}
.Shopping_Rack_images {
  margin-left: 300px;
  display: flex;
  justify-content: center;
}
.Shopping_Rack_images .imgOne {
  width: 472px;
  position: absolute;
  left: 0;
  top: 120px;
}
.Shopping_Rack_images .imgTwo {
  width: 240px;
  margin-top: 264px;
}
.comming_soon {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 94px;
  border-radius: 10px;
  border: 2px solid var(--BrandColor);
  margin: 0 auto;
  margin-top: 74px;
  transition: all 0.4s linear;
}
.comming_soon:hover {
  background-color: var(--BrandColor);
  color: #ffffff;
  transform: scale(105%);
}
/* ..........Shopping_Rack end........... */

/* ..........Gallery start........... */
#Gallery {
  padding-top: 127px;
}
.scooterImg {
  margin-top: 270px;
}
.scooterButtons {
  display: flex;
  flex-direction: column;
}
.gallary_buttons {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 94px;
  border-radius: 10px;
  border: 2px solid var(--BrandColor);
  margin-top: 27px;
  transition: all 0.6s linear;
}
.gallary_buttons:hover {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.build_qualityImg {
  margin-top: 70px;
  margin-bottom: 96px;
}
/* ..........Gallery end........... */

/* ..........Colors start........... */
#colors {
  padding-top: 128px;
  padding-bottom: 382px;
}
.colorsDiv {
  position: relative;
}
.sliderNavOptions {
  width: 100%;
  position: absolute;
  bottom: -235px;
}
.sliderNavOptions .slider_nav_pic {
  width: 246px;
}

/* ..........Colors end........... */
/* ..........Testimonials start........... */
#Testimonials {
  padding-top: 78px;
  padding-bottom: 167px;
  background-color: #fafafa;
}

.Testimonials_card_img {
  width: 360px;
  height: 366px;
  padding: 53px 22px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d8d8d8;
}
.card_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 47px;
}
.card_top .stars {
  width: 96px;
}
.profilePic {
  width: 48px;
}
.cardBot {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name {
  display: flex;
  flex-direction: column;
}
.name h2 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.name p {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: var(--BrandColor);
}
.card_top .star {
  width: 17px;
}
.card_top p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  /* width: 304px; */
}
.star_div {
  display: flex;
  margin-bottom: 26px;
}
.card_img_div {
  position: relative;
}
.arr {
  padding-top: 4px;
  width: 42px;
  height: 42px;
  border: 1px solid var(--BrandColor);
  color: var(--BrandColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  position: absolute;
}
.arr:hover {
  background-color: var(--BrandColor);
  color: #fafafa;
}
.prevArr {
  top: 440px;
  left: 46%;
}
.nextArr {
  top: 440px;
  right: 46%;
}
/* ..........Testimonials end........... */
/* ..........Subscribe start........... */
#Subscribe {
  padding-top: 121px;
  padding-bottom: 127px;
}
.subInputButton {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.subInputButton input {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  background-color: #f5f5f5;
  width: 400px;
  display: flex;
  border: none;
  padding: 26px 0;
  padding-left: 38px;
  border-radius: 10px;
}
.subInputButton button {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: #fbfbfb;
  background-color: var(--BrandColor);
  width: 196px;
  display: flex;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 26px 57; */
  border-radius: 10px;
  transition: all 0.3s linear;
}
.subInputButton button:hover {
  background-color: #fbfbfb;
  color: var(--BrandColor);
  border: 1px solid var(--BrandColor);
}
/* ..........Subscribe end........... */
/* ..........Footer start........... */
#footer {
  padding-top: 99px;
  padding-bottom: 20px;
  background-color: var(--BrandColor);
  position: relative;
}
.footer_bg {
  position: absolute;
  left: 0;
  bottom: 18px;
}
.footer_options_div {
  display: flex;
  justify-content: end;
  gap: 105px;
}
.aboutDiv h2 {
  font-size: 22px;
  font-weight: 800;
  font-family: var(--BrandFont);
  color: #fbfbfb;
}
.aboutDiv .about_bot_options {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 50px;
}
.aboutDiv .about_bot_options p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--BrandFont);
  color: #fbfbfb;
}
.FootericonsDiv {
  display: flex;
  gap: 16px;
  margin-top: 43px;
}
.FootericonsDiv .social_icon {
  width: 32px;
  height: 32px;
  color: var(--BrandColor);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafc;
  border-radius: 50%;
}
.copyRightMessage {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fbfbfb;
  text-align: center;
  margin-top: 100px;
}
/* ..........Footer end........... */
